body {
  text-align: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#video {
   width: 720px;
  height: auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}
